{% extends 'base.html.twig' %}

{% block title %}Liste des Tickets
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">


{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="my-3">
			Liste des Tickets
		</h1>
		<a href="{{path('ticket_create')}}" class="btn btn-primary">Création</a>


		{% if app.user.roles[0] == 'ROLE_ADMIN' %}


			<a href="{{path('app_user_index')}}" class="btn btn-primary">Gestion salariés</a>

		{% endif %}
		<table class="table table-striped tabled-bordered" id="myTable">
			<thead>
				<th>ID</th>
				<th>Object</th>
				<th>Created At</th>
				<th>Departement</th>
				<th>Status</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for ticket in tickets %}

					<tr>
						<th scope="row">{{ticket.ID}}</th>
						<td>{{ticket.object}}</td>
						<td>{{ticket.createdAt | date('d/m/Y H:i')}}</td>
						<td>{{ticket.departement.name}}</td>
						<td>{{ticket.ticketStatut}}</td>
						<td>

							<a href="{{path('ticket_update',{'id' :ticket.id})}}" class="btn btn-success">
								<em class="fa-solid fa-gears"></em>
							</a>
							{% if ticket.ticketStatut == 'finished' %}
								<a href="{{path('ticket_delete',{'id' :ticket.id})}}" class="btn btn-danger">
									<em class="fa-solid fa-trash-can"></em>
								</a>
							{% endif %}

							{% if ticket.ticketStatut == 'wip' %}
								<a href="{{path('ticket_close',{'id' :ticket.id})}}" class="btn btn-warning">
									<em class="fa-solid fa-square-xmark"></em>
								</a>
							{% endif %}

						</td>
					</tr>

				{% endfor %}


			</tbody>
		</table>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#myTable').DataTable();
});
	</script>
{% endblock %}
