{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">


{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-3">User index</h1>

		<table class="table table-striped tabled-bordered" id="myTable">
			<thead>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Name</th>
				<th>actions</th>
			</thead>

			<tbody>
				{% for user in users %}
					<tr>
						<th scope="row">{{ user.id }}</th>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>

						<td>{{ user.name }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info">
								<em class="fa-solid fa-magnifying-glass"></em>
							</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">
								<em class="fa-solid fa-pen-to-square"></em>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_ticket') }}" class="btn btn-primary">
			<em class="fa-solid fa-backward"></em>
		</a>
		<a href="{{ path('app_user_new') }}" class="btn btn-success">
			<em class="fa-solid fa-file-circle-plus"></em>
		</a>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#myTable').DataTable();
});
	</script>
{% endblock %}
